@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

:root {
  --morado: #AD89FB;
  --blanco: #FEFDFA;
  --negro: #060606;
  --naranja: #FFA545;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* Scroll snap secciones */
#container-sec1,
#carrusel,
.container-footer {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

/* ------------------------
   MODAL
------------------------ */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-contenido {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.cerrar-modal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--morado);
  font-weight: 900;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.cerrar-modal:hover {
  transform: scale(1.2) rotate(15deg);
  color: var(--negro);
}
