@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    margin-top: 0;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.cerrar-modal {
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  color: var(--morado);
  font-weight: 900;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.cerrar-modal:hover {
    transform: scale(1.2) rotate(15deg);
  color:var(--negro)
}



html {
  scroll-behavior: smooth;
}

:root {
 --morado :#AD89FB;
 --blanco : #fefdfa;
 --negro : #060606;
 --naranja :#FFA545;
}


#container-sec1,
#carrusel,
.container-footer {
  height: 100vh; 
  width: 100vw;
  scroll-snap-align: start;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-contenido {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  position: relative;
}

.cerrar-modal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
