.tarjeta {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(60,60,60,0.07), 0 1.5px 6px rgba(60,60,60,0.04);
  padding: 24px 16px 16px 16px;
  width: 300px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px auto;
}


h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

h5 {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 8px 0;
  line-height: 1.1;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  color: #222;
  margin: 0 0 12px 0;
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
}

.iconos-lenguajes ul {
  list-style: none;
  display: flex;
  gap: 3px;
  padding: 0;
  margin: 0;

}

.iconos-lenguajes li {
  border: 2px solid var(--negro);
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 600;
  background:var(--blanco);
  color:var(--negro);
  letter-spacing: 1px;
}
.galeria-retos {
  justify-content: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.ver-mas {
   justify-content: 'center';
display: block;
  margin: 30px auto 0 auto;  
  background-color: var(--blanco);
  border-radius: 16px;
  color: var(--negro);
  border: solid var(--negro) 2px;
  padding: 4px 15px;
  cursor: pointer;
  margin: 0 auto 30px 0;
  font-size: 14px;
  transition: transform 0.2s ease;

}
.ver-mas:hover {
  background: var(--negro);
  color: var(--blanco);
}
