.tarjeta {
background-color: var(--blanco);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(60,60,60,0.07), 0 1.5px 6px rgba(60,60,60,0.04);
  padding: 0 0px 16px 0px; /* quitar padding superior */
  width: 300px;
  height: 400px;
  color:var(--negro);
  cursor:pointer;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px auto;
  overflow: hidden; /* para que el border-radius se aplique también a la imagen */
}

.imagen-contenedor {
  width: 100%;
  overflow: hidden;
}

.foto-tarjeta {
  width: 300px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contenido-tarjeta{
  padding: 0 16px 0 16px;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

h5 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 8px 0;
  line-height: 1.1;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  color: #222;
  margin: 0 0 12px 0;
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
  text-overflow: ellipsis;

}

.iconos-lenguajes ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;       /* Permitir varias filas si no caben */
  padding: 0 5px 0 0;    /* Solo padding a la derecha para respirar */
  margin: 0;
  gap: 6px 8px;          /* Espacio uniforme entre filas (6px) y columnas (8px) */
  justify-content: flex-start;  /* Alinea todo a la izquierda */
}


.iconos-lenguajes li {
  border: 1.5px solid var(--negro);
  border-radius: 20px;
  font-size: 11px;
  font-weight: 500;
  background: var(--blanco);
  color: var(--negro);
  letter-spacing: 1px;
  
  padding: 4px 10px;     /* Aumenta un poco el padding para hacer cajas más parejitas */
  white-space: nowrap;   /* Para evitar que cada etiqueta se parta en varias líneas */
  flex-shrink: 0;        /* Evita que los items se reduzcan de ancho */
}
